# Application
NODE_ENV=development
PORT=3000

# Database
# Note: For local development using docker-compose, this is the connection string
DATABASE_URL=postgresql://reachinbox:reachinbox_secret@localhost:5432/reachinbox_scheduler?schema=public

# Redis
REDIS_URL=redis://localhost:6379

# Worker & Queue
WORKER_CONCURRENCY=5
MIN_EMAIL_DELAY_MS=2000
MAX_EMAILS_PER_HOUR_PER_SENDER=100

# Ethereal SMTP Config
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=ReachInbox Scheduler <test@reachinbox.test>
