# Application
NODE_ENV=development
PORT=3000

# Database
# Note: For local development using docker-compose, this is the connection string
DATABASE_URL=postgresql://reachinbox:reachinbox_secret@localhost:5432/reachinbox_scheduler?schema=public

# Redis
REDIS_URL=redis://localhost:6379
